{% extends "main/base.html" %}
{% load static %}
{% block title %} Course student {% endblock title %}

{% block content %}

<!-- Modal -->






<div class="text-center mt-5">
    <h1>Add student</h1>
</div>

<!-- Button trigger modal -->

<div class="container">
    <div class="text-end mb-3">
        <a class="btn btn-primary" href="{% url 'course_student_add' course.id %}">Add student</a>

    </div>
    {% if course_students %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Full Name</th>
                <th scope="col">Started Date</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>

            {% for cs in course_students %}
            <tr>
                <!-- <th scope="row">{{ forloop.counter }}</th> -->
                <th scope="row">{{ cs.student.id }}</th>
                <td>{{ cs.student.user.first_name }} {{ cs.student.user.last_name }}</td>
                <td>{{ cs.start_date }}</td>
                <td><a href="{% url 'student_detail' course_id=course.id student_id=cs.student.id %}">more</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    {% else %}
    <h2 class="text-center">Studentlar mavjud emas</h2>
    {% endif %}

</div>
{% endblock content %}