{% extends "main/base.html" %}
{% load static %}
{% block title %} Create Group Task {% endblock title %}
{% block content %}

<div class="container mt-5">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
      <li class="breadcrumb-item"><a href="{% url 'courses' %}" class="text-decoration-none">Courses</a></li>
      <li class="breadcrumb-item"><a href="{% url 'group_tasks' course %}" class="text-decoration-none">Group
          tasks</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Create Task</li>
    </ol>
  </nav>
  <div class="d-flex justify-content-center mb-3">
    <h1>Create Task</h1>
  </div>

  <form method="post">{% csrf_token %}

    <div class="mb-3">
      <label class="form-label" for="task-name">Task Name</label>
      <input type="text" class="form-control" name="task_name" id="task-name">
      {% if form.name.errors %}
      <div class="text-danger">
        {% for error in form.name.errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <input type="hidden" id="custId" name="course" value="{{ course }}">

    <div class="mb-3">
      <label class="form-label" for="definition">Definition</label>
      <textarea class="form-control" rows="3" name="definition" id="definition"></textarea>
      {% if form.description.errors %}
      <div class="text-danger">
        {% for error in form.description.errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <div class="mb-3">
      <label class="form-label" for="given-date">Start Date</label>
      <input type="date" class="form-control" name="given_date" id="given-date">
      {% if form.given_date.errors %}
      <div class="text-danger">
        {% for error in form.given_date.errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <div class="mb-3">
      <label class="form-label" for="until-date">End Date</label>
      <input type="date" class="form-control" name="until_date" id="until-date">
      {% if form.until_date.errors %}
      <div class="text-danger">
        {% for error in form.until_date.errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <div class="mb-3">
      <label class="form-check-label mb-4" for="btncheck3">Completed</label>
      <input type="checkbox" class="form-check-input" name="is_done" id="btncheck3"
             {% if form.is_done.value%}checked{%endif %}>
      {% if form.is_done.errors %}
      <div class="text-danger">
        {% for error in form.is_done.errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <input type="submit" value="Create" class="btn btn-outline-success">
  </form>

</div>
{% endblock content %}