{% extends "main/base.html" %}
{% load static %}
{% block title %} home {% endblock title %}
{% block content %}


<!-- Header Start -->
<div class="container-fluid bg-primary px-0 px-md-5 mb-5">
    <div class="row align-items-center px-3">
        <div class="col-lg-6 text-center text-lg-left">
            <h4 class="text-white mb-4 mt-5 mt-lg-0">O'qitishni osonlashtiradigan saytimizga xush kelibsiz!</h4>
            <h1 class="display-3 font-weight-bold text-white">Course ni avtomatlashtirsh</h1>
            <p class="text-white mb-4">Bu yerda siz o'quv markazdagi yoki uydagi kurlaringizni ishini
                avtomatlashtirishingiz mumkin</p>
            <a href="" class="btn btn-secondary mt-1 py-3 px-5">Learn More</a>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <img class="img-fluid mt-5" src="{% static 'img/header.png' %}" alt="">
        </div>
    </div>
</div>
<!-- Header End -->

<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container p-0">
        <div class="text-center pb-2">
            <p class="section-title px-5"><span class="px-2">Testimonial</span></p>
            <h1 class="mb-4">What Parents Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item px-3">
                <div class="bg-light shadow-sm rounded mb-4 p-4">
                    <h3 class="fas fa-quote-left text-primary mr-3"></h3>
                    Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolor tempor
                    ipsum clita
                </div>
                <div class="d-flex align-items-center">
                    <img class="rounded-circle" src="{% static 'img/testimonial-1.jpg' %}"
                        style="width: 70px; height: 70px;" alt="Image">
                    <div class="pl-3">
                        <h5>Parent Name</h5>
                        <i>Profession</i>
                    </div>
                </div>
            </div>
            <div class="testimonial-item px-3">
                <div class="bg-light shadow-sm rounded mb-4 p-4">
                    <h3 class="fas fa-quote-left text-primary mr-3"></h3>
                    Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolor tempor
                    ipsum clita
                </div>
                <div class="d-flex align-items-center">
                    <img class="rounded-circle" src="{% static 'img/testimonial-2.jpg' %}"
                        style="width: 70px; height: 70px;" alt="Image">
                    <div class="pl-3">
                        <h5>Parent Name</h5>
                        <i>Profession</i>
                    </div>
                </div>
            </div>
            <div class="testimonial-item px-3">
                <div class="bg-light shadow-sm rounded mb-4 p-4">
                    <h3 class="fas fa-quote-left text-primary mr-3"></h3>
                    Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolor tempor
                    ipsum clita
                </div>
                <div class="d-flex align-items-center">
                    <img class="rounded-circle" src="{% static 'img/testimonial-3.jpg' %}"
                        style="width: 70px; height: 70px;" alt="Image">
                    <div class="pl-3">
                        <h5>Parent Name</h5>
                        <i>Profession</i>
                    </div>
                </div>
            </div>
            <div class="testimonial-item px-3">
                <div class="bg-light shadow-sm rounded mb-4 p-4">
                    <h3 class="fas fa-quote-left text-primary mr-3"></h3>
                    Sed ea amet kasd elitr stet, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolor tempor
                    ipsum clita
                </div>
                <div class="d-flex align-items-center">
                    <img class="rounded-circle" src="{% static 'img/testimonial-4.jpg' %}"
                        style="width: 70px; height: 70px;" alt="Image">
                    <div class="pl-3">
                        <h5>Parent Name</h5>
                        <i>Profession</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->


<div class="container">
    <form action="" method="post">
        <div class="mb-3">
            <h1><label for="exampleFormControlTextarea1" class="form-label">Comment</label></h1>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Type comment...</textarea>
        </div>
        <div class="d-flex justify-content-end">
            <input type="submit" value="submit" class="btn btn-success">
        </div>
    </form>
</div>

{% endblock content %}