{% extends "main/base.html" %}
{% load static %}
{% block title %} student detail {% endblock title %}
{% block content %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update student detial</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="mb-3">
          <label class="form-label">Fullname</label>
          <input type="text" class="form-control" value="Fullname">
        </div>
        <div class="mb-3">
          <label class="form-label">Address</label>
          <input type="text" class="form-control" value="New York, Street 2 home">
        </div>
        <div class="mb-3">
          <label class="form-label">Email address</label>
          <input type="email" class="form-control" value="annatiyler@gmail.com">
        </div>
        <div class="mb-3">
          <label class="form-label">Birth day</label>
          <input type="date" class="form-control" value="2003-12-11">
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h1 class="modal-title fs-2" id="exampleModalLabel1">Are you sure ?</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>








<div class="container">
  <div class="d-flex mt-4 justify-content-center">
    <div class="d-flex">
      <div class="img-of-teacher">
        <span class="position-absolute"><i class="bi bi-person" style="color: white;"></i>username</span>
        <img src="/static/img/team-4.jpg">
      </div>
      <div class="detial-of-teacher">
        <h1 class="d-inline">Full name</h1>

        <button class="btn mb-2 ml-2 btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">edit</button>
        <button class="btn mb-2 ml-2 btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal1">delete</button>

        <div class="mt-3">
          <strong>Address:</strong>
          <p>New York, Street 2 home</p>
          <strong>Email:</strong>
          <p>annatiyler@gmail.com</p>
          <strong>Birth day:</strong>
          <p>Dec 18, 1555</p>
        </div>
      </div>
    </div>
  </div>


  <div>
    <h1>Course</h1>
  </div>
  <div class="tasks">
    <div>
      <div class="d-flex justify-content-between">
        <div class="btn btn-primary ml-3 mr-3">
          <strong>Science:</strong> English
        </div>
        <div class="d-flex">
          <div class="btn btn-danger ml-2 mr-2">Danger</div>
          <div class="btn btn-warning ml-2 mr-2">1 day left</div>
          <!-- <div class="btn btn-danger ml-2 mr-2">not paid</div> -->
          <div class="btn btn-success ml-2 mr-2">paid</div>
        </div>
      </div>

      <hr>

      <div>
        <h3>Tasks</h3>
        <div class="accordion" id="accordionExample">

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Writing a story
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                You should write a story from "Atomic habits"
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Reading a book
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Books for reading:
                1. UI design
                2. The art of creativ thinking
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>


{% endblock content %}