{% extends "main/base.html" %}
{% load static %}
{% block title %} student detail {% endblock title %}
{% block content %}


<div class="container">
  <div class="d-flex mt-4">
    <div class="img-of-teacher">
      <span class="position-absolute"><i class="bi bi-person"></i>username</span>
      <img src="/static/img/team-1.jpg">
    </div>
    <div>
      <h1>Full name</h1>
      <div class="detial-of-teacher">
        Address:<p></p>
        Email:<p></p>
        Birth day:<p></p>
      </div>
    </div>
  </div>


  <div>
    <div>
      <h1>Course</h1>
    </div>
    <div>

    </div>
  </div>
</div>


{% endblock content %}