{% extends "main/base.html" %}
{% load static %}
{% block title %} teacher detail{% endblock title %}
{% block content %}

<div class="container mt-4">


  <div class="card border-0 bg-light shadow-sm pb-2" style="border-radius: 20px;">

    <div class="d-flex justify-content-center mt-4">
      <img class="w-50 mb-2" style="border-radius: 20px;" src="{% static 'img/team-4.jpg' %}" alt="">
    </div>
    <div class="card-body text-center">
      <h4 class="card-title">Julia Smith</h4>
      <p class="card-text">Justo ea diam stet diam ipsum no sit, ipsum vero et et diam ipsum duo
        et no et, ipsum ipsum erat duo amet clita duo</p>
    </div>
    <div class="card-footer bg-transparent py-4 px-5 border-bottom">
      <div class="row border-bottom">
        <div class="col-6 py-1 text-right border-right"><strong>Job</strong></div>
        <div class="col-6 py-1">Music Teacher
        </div>
      </div>
      <div class="row border-bottom">
        <div class="col-6 py-1 text-right border-right"><strong>Birth day</strong></div>
        <div class="col-6 py-1">10/03/24</div>
      </div>
      <div class="row border-bottom">
        <div class="col-6 py-1 text-right border-right"><strong>Address</strong></div>
        <div class="col-6 py-1">New York, Street 12</div>
      </div>
      <div class="row border-bottom">
        <div class="col-6 py-1 text-right border-right"><strong>Phone number</strong></div>
        <div class="col-6 py-1">+998 91 999 98 89</div>
      </div>
      <div class="d-flex mt-4">
        <a href="{% url 'teacher_edit' %}" class="btn btn-primary px-4 mx-auto mb-4" data-bs-toggle="modal"
          data-bs-target="#exampleModal1">Edit</a>
        <a href="" class="btn btn-warning px-4 mx-auto mb-4">Delete</a>
      </div>

    </div>


  </div>
</div>

{% endblock content %}